<form action="/restaurants/{{ restaurant._id }}/edit" method="POST">
  <input type="text" placeholder="名稱" name="name" value="{{ restaurant.name }}">
  <input type="text" placeholder="類別" name="category" value="{{ restaurant.category }}">
  <input type="text" placeholder="電話" name="phone" value="{{ restaurant.phone }}">
  <input type="text" placeholder="地址" name="location" value="{{ restaurant.location }}">
  <input type="text" placeholder="Google地圖" name="google_map" value="{{ restaurant.google_map }}">
  <input type="text" placeholder="評分" name="rating" value="{{ restaurant.rating }}">
  <input type="text" placeholder="照片" name="image" value="{{ restaurant.image }}">
  <input type="text" placeholder="描述" name="description" value="{{ restaurant.description }}">
  <button type="submit">儲存</button>
  <a href="/">首頁</a>
</form>