<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer bg-warning">
    <div class="search-bar-inner d-flex justify-content-around">
      <form action="/search" style="display: inline-block">
        <div class="input-group">
          <input type="text" name="keyword" value="{{keyword}}" class="form-control" placeholder="搜尋餐廳、分類"
            aria-label="Restaurant Name..." value="" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>

      <div class="dropdown">
        <button class="btn btn-major dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          排序
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/asc">A->Z</a>
          <a class="dropdown-item" href="/desc">Z->A</a>
          <a class="dropdown-item" href="/category">類別</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns text-center">
        {{#each restaurants}}
        <a href="/restaurants/{{this.id}}" class="text-warning">
          <a href="./restaurants/{{this._id}}" style="text-decoration:none" class="text-warning">
            <div class="card mb-3">
              <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
              <div class="card-body p-3">
                <h6 class="card-title mb-1">{{this.name}}</h6>
                <div class="restaurant-category mb-1 text-warning">
                  <i class="fas fa-utensils pr-2"></i> {{this.category}}
                </div>
                <div class="badge badge-pill badge-warning font-weight-normal">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </div>
                <div class="mt-2">
                  <button class="btn btn-sm">
                    <a href="./restaurants/{{this._id}}/edit" style="text-decoration:none"><i class="fas fa-edit"
                        style="color:#FFF8D7"></i></a>
                  </button>
                  <form action="./restaurants/{{this._id}}?_method=DELETE" method="POST" style="display: inline">
                    <button type="btn" class="btn btn-sm" data-toggle="modal" data-target="#exampleModal"
                      data-whatever="@mdo" data-placement="top" title="刪除" style="color:#FFF8D7"><i
                        class="fas fa-trash-alt"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </a>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>